@import "/styles/variables.scss";

.container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1rem;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  padding: 1.5rem 0;
  opacity: 1; /* Visible from the start */
}

.content {
  display: flex;
  align-items: center;
  position: relative; /* For absolute positioning of topRightButtons */
  @include devices(mobile) {
    justify-content: center;
  }
}

.logo {
  font-family: "Mohave", sans-serif;
  font-weight: 700;
  color: #EFF3F1;
}

.topRightButtons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  gap: 16px;
  @include devices(mobile) {
    gap: 10px;
  }
}

.authButton {
  background-color: #F2F3F3;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #43B31F;
    color: black;
  }
}